:host {
    display: block;
    margin-top: 30px;
}
mat-card {
    display: flex;
    flex-direction: column;
    justify-items: center;
    margin: auto;
    padding: 30px;
    max-width: 300px;
    background-color: #00000005;
}
