:host {
    display: flex;
    cursor: pointer;
}

mat-card {
    margin: 5px;
    width: 100%;
}

[mat-card-image] {
    width: 100%;
}

mat-card-content {
    flex-grow: 1;
    display: flex;
    align-items: center;
}
