:host {
  display: block;
}

mat-toolbar {
  transition: 0.3s;
  height: 0px;
  overflow: hidden;
}

.active {
  height: 30px;
}

.filter-wrap {
  max-width: 1440px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}

.btn-wrap,
.filter-by-word-wrap {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.filter-by-word-wrap {
  input {
    margin-left: 5px;
    background: transparent;
    border: none;
    border-bottom: solid 1px;

    &:focus {
      outline: none;
    }
  }
}
.text {
  user-select: none;
  cursor: pointer;
}
